<div class="container">
    <form>
        <input type="file" value='Upload MB' (change)="onChange($event)">
    </form>

    <div>
        <table mat-table>
            <ng-container matColumnDef="item">
                <td mat-cell *matCellDef="let item_stat">
                    <div class="smallHeading">
                      {{ item_stat.max_date }} m
                    </div>
                    <div class="mainRow divider">
                      <a href="{{ item_stat.mobile_path }}">{{ item_stat.title }}</a> ·
                            {{'VALUE'}}
                    </div>
                  </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="mobileDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: mobileDisplayedColumns;"></tr>
        </table>
    </div>

    <div class="box-container" fxLayout="column" [ngStyle.lt-sm]="'min-height: 800px;'">
        <div class="app-title">Simple example app for the ngx-perfect-scrollbar</div>
      
        <div class="info-container">
          You can change the type and control the Perfect Scrollbar element by clicking the buttons on the controls pane.
        </div>
      
        <div class="horizontal-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="stretch" fxFlex="100%">
          <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
            <div class="box-title">Controls</div>
      
            <div class="action-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
              <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='toggleType()'>{{(type == "component") ? "Switch to directive" : "Switch to component"}}</div>
      
              <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='scrollToTop()'>Scroll to top</div>
      
              <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='scrollToLeft()'>Scroll to left</div>
      
              <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='scrollToRight()'>Scroll to right</div>
      
              <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='scrollToBottom()'>Scroll to bottom</div>
      
              <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='scrollToXY(25, 50)'>Animate to 25,50</div>
            </div>
          </div>
      
          <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
            <div class="box-title">Perfect Scrollbar</div>
      
            <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto"> <!--*ngIf="type === 'component'"-->
              <perfect-scrollbar  class="scroll-container" fxFlex="auto" [config]="config" [scrollIndicators]="true" (psXReachEnd)="onScrollEvent($event)" (psYReachEnd)="onScrollEvent($event)" (psXReachStart)="onScrollEvent($event)" (psYReachStart)="onScrollEvent($event)">
                <div class="scrollable-content">
                  Scroll<br>
                  me!<br>
                  <br>
                  I<br>
                  am<br>
                  an<br>
                  example<br>
                  content<br>
                  text<br>
                  for<br>
                  this<br>
                  really<br>
                  coooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooool<br>
                  scrollable<br>
                  area<br>
                  in<br>
                  this<br>
                  example<br>
                  app<br>
                  which<br>
                  is<br>
                  using<br>
                  the<br>
                  angular2<br>
                  perfect<br>
                  scrollbar<br>
                  library<br>
                </div>
              </perfect-scrollbar>
      
              <div *ngIf="type === 'directive'" class="scroll-container ps" fxFlex="auto" [perfectScrollbar]="config" (psXReachEnd)="onScrollEvent($event)" (psYReachEnd)="onScrollEvent($event)" (psXReachStart)="onScrollEvent($event)" (psYReachStart)="onScrollEvent($event)">
                <div class="scrollable-content">
                  Scroll<br>
                  me!<br>
                  <br>
                  I<br>
                  am<br>
                  an<br>
                  example<br>
                  content<br>
                  text<br>
                  for<br>
                  this<br>
                  really<br>
                  cooooooooooooooooooooooooooooooooooooooooooooooooool<br>
                  scrollable<br>
                  area<br>
                  in<br>
                  this<br>
                  example<br>
                  app<br>
                  which<br>
                  is<br>
                  using<br>
                  the<br>
                  angular2<br>
                  perfect<br>
                  scrollbar<br>
                  library<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>
